*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #191B23;
    background-color: #fff;
    font-size: 1.6rem; /* 16px */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 430px) {
    .container {
        padding: 0 32px;
    }
}