@import "base/_base.css";

@import "layout/_header.css";
@import "layout/_footer.css";

@import "sections/_hero.css";
@import "sections/_toc.css";
@import "sections/_indian-premier-league.css";
@import "sections/_ipl-app-download.css";
@import "sections/_ipl-cricket-betting.css";
@import "sections/_welcome-bonus.css";
@import "sections/_ipl-mobile-features.css";
@import "sections/_reasons-to-dowlnload.css";
@import "sections/_how-to-use.css";
@import "sections/_reviews.css";
@import "sections/_download-app-android-ios.css";
@import "sections/_cricket-information.css";
@import "sections/_how-download-app.css";
@import "sections/_faq.css";

@import "components/_accordion.css";