@import "base/_base.css";

@import "layout/_header.css";

@import "sections/_hero.css";
@import "sections/_toc.css";
@import "sections/_indian-premier-league.css";
@import "sections/_ipl-app-download.css";
@import "sections/_ipl-cricket-betting.css";
@import "sections/_welcome-bonus.css";
@import "sections/_ipl-mobile-features.css";

@import "components/_match-card.css";