.hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 100px;
}

.hero__title{
    font-size: 64px;
    font-weight: 700;
    line-height: 130%;
    color: #191B23;
}

.hero__subtitle{
    margin-top: 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #75767F;
}

.hero__button{
    margin-top: 40px;
    padding: 19px 91px;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    color: #FCFDFE;
    background: #FF7D34;
    border-radius: 100px;
    border: none;
}

.hero__social-proof {
    margin-top: 84px;
    display: flex;
    align-items: center;
}

.hero__social-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #75767F;
}

.hero__social-proof img {
    width: 6rem;
    height: 6rem;
    margin-left: -12px;
    position: relative;
}

.hero__social-proof img:first-child {
    margin-left: 0;
    z-index: 4;
}

.hero__social-proof img:nth-child(2) {
    z-index: 3;
}

.hero__social-proof img:nth-child(3) {
    z-index: 2;
}

.hero__avatar-wrapper {
    position: relative;
    margin-left: -12px;
    z-index: 5;
    display: inline-block;
    margin-right: 16px;
}

.hero__avatar-bg {
    position: absolute;
    top: 47%;
    left: 37%;
    width: 60px;
    height: 60px;
    background-color: #151515D9;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}

/* Картинка сверху фона */
.hero__avatar-wrapper img {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
}

.hero__social-count {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);

    color: white;
    font-weight: 500;
    line-height: 160%;
    font-size: 14px;
    z-index: 12;
    white-space: nowrap;
}


