.how-download-app{
    margin: 100px 32px;
    background: #F3F4F5;
    border-radius: 32px;
}

.how-download-app__content{
    padding: 100px 0;
}

.how-download-app__title{
    font-size: 52px;
    font-weight: 700;
    line-height: 130%;
    color: #191B23;
    margin-bottom: 32px;
}

.how-download-app__subtitle{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #75767F;
    margin-bottom: 32px;
}

.how-download-app__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    background: #fff;
    border-radius: 32px;
    padding: 32px;
}

.how-download-app__android{
    margin-bottom: 28px;
}

.app__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    color: #191B23;
    margin-bottom: 24px;
}

.app__subtitle{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #75767F;
}

.app__btn{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 44px;
    gap: 14px;
    width: 256px;
    height: 60px;
    background: #FF7D34;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-top: 32px;
}

.app__btn:hover{
    background: #ff701d;
}

.app__btn:active{
    background: #ff6d19;
}

