.ipl-indian{
    background-color: #F3F4F5;
    border-radius: 32px;
    margin: 0 32px;

}

.ipl-indian .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-top: 100px;
}

.ipl-indian__image{
    margin: 100px 0;
}

.ipl-indian__title{
    font-size: 52px;
    font-weight: 700;
    line-height: 130%;
    color: #191B23;
    padding-bottom: 32px;
}

.ipl-indian__text{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #75767F;
    padding-bottom: 64px;
}

.ipl-indian__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ipl-indian__btn{
    height: 52px;
    width: 52px;
    border-radius: 100%;
    border: none;
    background: #FCFDFE;
}

.ipl-indian__slider {
    width: 100%;
    max-width: 660px;
    overflow: hidden;
}

.ipl-indian__slider .swiper-wrapper {
    display: flex;
}

.ipl-indian__slider .swiper-slide {
    width: 100%;
    flex-shrink: 0;
}

.ipl-indian__slider .swiper-button-prev::after,
.ipl-indian__slider .swiper-button-next::after {
    display: none;
}


.ipl-indian__dot{
    width: 97px;
    height: 8px;
    background: #C6C6D0;
    border: none;
    border-radius: 4px;
    margin-right: 12px;
}

.ipl-indian--active{
    width: 334px;
    height: 8px;
    background: #FF7D34;
    border: none;
    border-radius: 4px;
}


