.app-download{
    margin-top: 100px;
}

.app-download .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.app-download__content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.app-download__title{
    font-size: 52px;
    font-weight: 700;
    line-height: 130%;
    color: #191B23;
}

.app-download__subtitle{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #75767F;
}

.app-download__images{
    display: flex;
    gap: 16px;
}

.app-download__link {
    display: inline-block;
}

.app-download__badge {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

@media (max-width: 430px) {
    .app-download {
        margin-top: 40px;
    }

    .app-download .container {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .app-download__image {
        order: -1;
    }

    .app-download__content {
        gap: 16px;
    }

    .app-download__title {
        font-size: 32px;
    }

    .app-download__subtitle {
        font-size: 16px;
    }

    .app-download__images {
        gap: 12px;
    }
}