.app-download{
    margin-top: 100px;
}

.app-download .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.app-download__content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.app-download__title{
    font-size: 52px;
    font-weight: 700;
    line-height: 130%;
    color: #191B23;
}

.app-download__subtitle{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #75767F;
}

.app-download__images{
    display: flex;
    gap: 16px;
}