.mobile-features{
    background:#F3F4F5;
    margin: 100px 32px;
    border-radius: 32px;
}

.mobile-features .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.mobile-features__image{
    padding: 52px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.mobile-features__image img{
    max-width: 100%;
    height: auto;
    display: block;
}

.mobile-features__content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mobile-features__title{
    font-size: 52px;
    font-weight: 700;
    line-height: 130%;
    color: #191B23;
}

.mobile-features__description{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color:#75767F;
}

.mobile-features__list{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color:#75767F;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.mobile-features__item{
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px;
}

.mobile-features__item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 24px;
    height: 24px;
    background-image: url('../../images/mobile-of-features/like.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-features__btn{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 44px;
    gap: 14px;
    width: 256px;
    height: 60px;
    background: #FF7D34;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.mobile-features__btn:hover{
    background: #ff701d;
}

.mobile-features__btn:active{
    background: #ff6d19;
}