.reasons-download__content{
    background: #F3F4F5;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reasons-download__title{
    padding-top: 64px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 130%;
    color: #191B23;
}

.reasons-download .accordions{
    width: 100%;
}

.accordions__button{
    background: none;
    border: none;
}

.reasons-download__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 256px;
    height: 60px;
    background: #FF7D34;
    border: none;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 64px 0;
    transition: background-color 0.3s ease;
}

.reasons-download__btn:hover{
    background: #c35515;
}

.reasons-download__btn:active{
    background: #c35515;
}

@media (max-width: 1024px) {
    .reasons-download__title {
        font-size: 46px;
        padding-top: 56px;
    }

    .reasons-download__btn {
        margin-bottom: 56px;
    }
}

@media (max-width: 768px) {
    .reasons-download__title {
        font-size: 40px;
        padding-top: 48px;
    }

    .reasons-download__btn {
        margin-bottom: 48px;
    }
}

@media (max-width: 430px) {
    .reasons-download__title{
        font-size: 32px;
        text-align: left;
        padding: 48px 24px 0 24px;
        margin-bottom: 0;
    }

    .accordions__item{
        margin: 24px !important;
    }

    .accordions__button-text{
        font-size: 20px;
        padding: 0 !important;
    }
}